* {
  box-sizing: border-box;
}

.container-fluid {
  padding-right:0;
  padding-left:0;
  margin:0;
}

.nav-intro {
  background-image: url(background-pic.jpg);
  font-family: 'Krungthep';
  color: #001a4d;
}

.intro {
  padding: 8%;
}

h1 {
  font-size: 6vw;
  color: #001a4d;
  text-align: center;
}

p {
  display: inline-block;
  margin-left: 2%;
}

.score-container {
  margin-bottom: .5%;
  margin-left: .75%;
  display: inline-block;
  border-style: solid;
  border-color: #001a4d;
  border-width: 1px;
  background-color: rgb(209,26,255,.8);
  color: #001933;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  padding: 1%;
}

.btn-lg {
  display: inline-block;
  float: right;
  margin-top: 1%;
  margin-right: .75%;
  background-color: rgb(0,204,204,.8);
  border-color: #001a4d;
}

#card-collection {
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #80f2ff;
}

.card-container {
  margin-top: 1%;
  height: 200px;
  perspective: 1000;
}

.card {
  position: relative;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: 1.0s;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.front, .back {
  position: absolute;
  backface-visibility: hidden;
  top: 0;
  left:0;
  height: 100%;
  width: 100%;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
  background-image: url(bg.jpg);
}

.back {
  transform: rotateY(-180deg);
}

/* card game images when flipped */
.beach1 {
  background-image: url(beach1.jpg)
}

.beach2 {
  background-image: url(beach2.jpg)
}

.surfboard1 {
  background-image: url(surfboard1.jpg)
}

.surfboard2 {
  background-image: url(surfboard2.jpg)
}

.cat1 {
  background-image: url(cat1.jpg)
}

.cat2 {
  background-image: url(cat2.jpg)
}

.flower1 {
  background-image: url(flower1.jpg)
}

.flower2 {
  background-image: url(flower2.jpg)
}

.coffee1 {
  background-image: url(coffee1.jpg)
}

.coffee2 {
  background-image: url(coffee2.jpg)
}